@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bgPrimary {
    background-color: #34b701;
  }
  .bgNext {
    background: #ff8b0f;
  }
  .textPrimary {
    color: #34b701;
  }
  .progressGreen::-webkit-progress-value {
    background-color: #34b701; /* Change the progress bar color */
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ff8b0f;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #34b701;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(34 197 94);
  }
}

/* two color */
/* #34B701
#FF7B13 */
