/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.circle{
  position: absolute;
  top:3%;
  left: 50%;
  transform: translate(-30%, -30%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -3px -3px 7px #34b701,
  3px 3px 7px #34b701;

  transition: .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.circle img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: grayscale(1); */
  transition: 5s;
}

.circle img:hover{
  filter: grayscale(.7)
}
/* .circle:hover{
  transform: translate(-50%, -50%) scale(2);
  border-radius: 10px
} */

/* Light mode icon color */
.social-icon {
  color: #1877F2; /* Icon color in light mode */
  background-color: white; /* Transparent background in light mode */
}

/* Dark mode icon color */
@media (prefers-color-scheme: dark) {
  .social-icon {
    color: white; /* Icon color in dark mode */
    background-color: white; /* White background in dark mode */
  }
}
